@media screen and (max-width: 1016px) and (min-width: 750px){
    .txt-button{
        display: flex;
        flex-direction: column;
    }

    .conteinerBtn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

@media screen and (max-width: 750px){
    .txt-button{
        font-size: 1.2em;
    }

    .imagem img{
        width: 45vw;
    }

    .conteinerBtn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    header{
        position: relative;
        transition: width 1s;
    }

    ul{
        display: inline-block;
        position: absolute;
        top: 30px;
    }

    .NavBottons{
        display: flex;
        position: absolute;
        opacity: 0;
        height: 0;
        top: 70px;
        transition: height 1s ease;
    }

    .MenuShow{
        opacity: 1;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: white;
        width: 100vw;
        height: 170px;
    }

    .ConteinerMenu{
        display: block;
        margin-left: 30px;
    }

    header{
        justify-content: space-between;
    }

    .pesquisa{
        margin-right: 30px;
    }

    .conteinerIcons{
        display: none;
    }
}

@media screen and (max-width: 660px) {
    .txt-button{
        position: relative;
        font-size: 1em;
    }

    .capa{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: none;
    }

    .txt-button{
        margin-top: 20px;
        width: 90%;
        font-size: 1.2em;
    }

    .bottonMenu{
        display: block;
    }
}